body {
  display: flex;
  flex-direction: column;
  background-color: rgb(148, 195, 234);
  align-items: center;
}
#gameBoard {
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  background-color: rgb(167, 227, 167);
}
#gameInfo {
  font-size: 25px;
  justify-content: space-between;
  font-weight: bolder;
}
#game-board td {
  width: 20px;
  height: 20px;
  border: solid black 1px;
}
.snake {
  background-color: rgb(255, 0, 247);
}
.food {
  height: 25px;
  width: 25px;
  background-color: crimson;
  border-radius: 50%;
  display: inline-block;
}
.startButton {
  border: none;
  color: black;
  padding: 16px 32px;
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.startButton:hover {
  background-color: rgb(167, 227, 167);
  color: black;
}
#start {
  display: flex;
  align-content: center;
  justify-content: center;
}
h1 {
  text-align: center;
  border: rgb(198, 195, 195);
  border-style: outset;
}
#boardContainer {
  align-content: center;
  text-align: center;
}
#gameDone {
  background-color: crimson;
}
